/*
  Author: George Kombostiotis,
  Version: 1.0.0
 */

html, body {
    margin: 0;
    max-width: 100%;
    min-width: 500px;
    overflow-x: hidden;

}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    padding: 20px;
    background-image: linear-gradient(to right, orange, darkorange);
    border-bottom: 3px black solid;
    font-family: Solway, sans-serif;
}

#header-image {
    height: 100px;
    width: 150px;
}

.header-menu li {
    list-style-type: none;
    display: inline;
    padding-left: 10px;
}

.header-menu {
    margin-top: 70px;
    margin-left: 20px;
    font-size: 20px;
}

a:visited, a:link {
    text-decoration: none;
    color: inherit;
}

.main-content {
    height: 400px;
    width: 500px;
    background-color: #EDEDED;
    margin: 50px auto 50px auto;
    border-radius: 20px;
    border-color: lightgrey;
    border-style: solid;
    font-family: Solway, sans-serif;

}

.main-menu {
    margin: 40px 0 10px 40px;
    display: flex;
}

.main-menu > a {
    padding-left: 20px;
}

@media only screen and (max-width: 550px){
    html, body{
        min-width: 100%;
    }
    .header {
        min-width: 100%;
    }
    .main-content {
        width: 90%;
        min-width:300px;
    }
}

.type-text {
    width: 80%;
    margin: 10px auto 30px auto;
    font-size: 20px;
}

.practice-div {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.enter-text {
    width: 80%;
    margin: 10px auto 10px auto;
    height: 20px;
    font-size: 20px;
    background-color: white;
}







