/*
  Author: George Kombostiotis,
  Version: 1.0.0
 */

html, body {
    margin: 0;
    max-width: 100%;
    min-width: 500px;
    overflow-x: hidden;

}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    padding: 20px;
    background-image: linear-gradient(to right, orange, darkorange);
    border-bottom: 3px black solid;
    font-family: Solway, sans-serif;
}

#header-image {
    height: 100px;
    width: 150px;
}

.header-menu li {
    list-style-type: none;
    display: inline;
    padding-left: 10px;
}

.header-menu {
    margin-top: 70px;
    margin-left: 20px;
    font-size: 20px;
}

a:visited, a:link {
    text-decoration: none;
    color: inherit;
}

.main-content {
    height: 450px;
    width: 500px;
    background-image: linear-gradient(to right, orange, darkorange);
    margin: 50px auto 50px auto;
    border-radius: 20px;
    border-color: grey;
    border-style: solid;
    font-family: Solway, sans-serif;

}

.main-menu {
    margin: 40px 0 10px 40px;
    display: flex;
}

.main-menu > a {
    padding-left: 20px;
}

@media only screen and (max-width: 550px){
    html, body{
        min-width: 100%;
    }
    .header {
        min-width: 100%;
    }
    .main-content {
        width: 90%;
        min-width:300px;
    }
}

.type-text {
    font-size: 20px;
    margin: 0;
    padding-right: 7px;
    text-align: center;
}


.practice-div {
    border-radius: 20px;
    border-color: lightgrey;
    border-style: solid;
    background-color: #f2f2f2;
    margin: 50px auto 10px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 85%;

}

.text-border {
    margin: 20px auto 20px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 85%;
}

.enter-text {
    border-radius: 5px;
    width: 100%;
    margin: 30px auto 10px auto;
    height: 30px;
    font-size: 25px;
    background-color: white;
    font-family: Solway, sans-serif;
}

.highlight-word {
    background-color: lightgreen;
    font-size: 20px;
    margin: 0;
    padding-right: 10px;
    text-align: center;
}

.nextRaceDiv {
    margin: 30px auto 10px auto;
    width: 85%;
    bottom: 10px;
}

.nextRace {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-family: Solway, sans-serif;
    font-size: 15px;
    background-image: linear-gradient(to right, orange, darkorange);
    font-weight: bold;
}





