<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <!-- title -->
    <title>type-ski</title>

    <!-- stylesheets -->
    <link rel="stylesheet" href="../CSS/customStylesheet.css" >
    <link href="https://fonts.googleapis.com/css2?family=Solway&display=swap" rel="stylesheet">



</head>
<body>
<div class="homepage">
    <div class="header">
        <div>
            <a href="index.html"><img id="header-image" src="../CONTENT/images/type-ski logo-cut.png"></a>
        </div>
        <nav class="header-menu">
            <li><a href="about.html">about</a></li>
            <li><a href="contact.html">contact</a></li>
        </nav>
    </div>
    <div class="main-content">
        <div id="practice" v-show="show" class="main-menu">
            <img style="height: 40px; width: 60px;" src="../CONTENT/images/type-ski logo-cut.png">
            <a href="#" v-on:click="hideElements" ><p  style="margin: 0; font-size: 30px;">Enter race</p></a>
        </div>
        <div id="input-text" v-show="show" class="practice-div">
            <p id="text-to-type" class="type-text" :style="{ backgroundColor: textColour }" v-for="letter in letters">{{ letter }}</p>
            <input type="text" :style="{ backgroundColor: colour } " class="enter-text" v-model="value" @keydown.space="clearText" @keyup="checkText">
        </div>
    </div>
</div>

<!-- javascript -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="../JS/main.js"></script>
</body>
</html>